table {
  border-collapse: collapse;
  border: solid black 1px;
}

td {
  border: solid black 1px;
  padding: 0.25em;
}

thead {
   background-color: #A1A1EE;
   text-align: center;
   font-weight: bold;
}

#links {
   background-color: #E9E9DF;
   padding: 2em;
   box-shadow: 10px 10px 5px #888888;
   position: fixed;
   right: 2em;
   top: 2em; 
}
